#cartas-educacion{
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
    place-items: center;
    
}

#education-body{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    
}

#contenedor1-Educationbody{
    display: grid;
    place-items: center;
    width: 100%;
    
}

#contenedor2-Educationbody{
    display: grid;
    place-items: center;
    width: 100%;
    
}


@media(min-width: 760px){
    #cartas-educacion{
        grid-template-columns: auto auto;
        gap: 25px;
        margin: 40px 0;
    }
    #contenedor2-Educationbody{
        max-width: 100%;
        
    }
}

@media (min-width: 1500px){
    #card-body{
        max-width: 1000px;
        gap: 100px;
    }
    
    #cartas-educacion{
        grid-template-columns: auto auto;
        gap: 35px;
    }
    #education-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        /* place-items: center; */
        
    }

}