#navbar-body{
    display: none;
}


@media (min-width: 760px){

    #navbar-body{
        display: flex;
        width: 100%;
        align-self: center;
        background-color: rgba(33,33,33,0.6);
        margin: 20px 0 0 0;
    }

    #navbar-body ul{
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    
    #navbar-body ul li a{

    font-size: 20px;
    text-decoration: none;
    color: white;
    
    }


    #navbar-body ul li{
        padding: 5px;
        border-radius: 5px;
        transition: transform 0.2s ease-in-out;
    }
    
    #navbar-body ul li:hover{
        transform: scale(1.1);
        background-color:  rgb(255, 251, 251, 0.1);
    } 
    
}

@media (min-width: 1200px){



#navbar-body{ 
    width: 50%;
    align-self: flex-end;
    background-color: rgba(33,33,33,0.6);
    border-radius: 15px;
} 




#navbar-body ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

#navbar-body ul li a{

font-size: 20px;
text-decoration: none;
color: white;


}

#navbar-body ul li{
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

#navbar-body ul li:hover{
    transform: scale(1.1);
    background-color:  rgb(255, 251, 251, 0.1);
} 

}